
* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../Projeto_Form_Login/Imagem/mountains-4387209_1280.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper {
    width: 450px;
    border: 1px solid black;
}